// TODO: Replace with local font-face
@import url('https://fonts.googleapis.com/css?family=Lato:700|PT+Serif:400,700');

:root {
	font-family: 'PT Serif', serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 400;
}

.heading {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
