@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

:root,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'PT Serif', serif;
	font-weight: 400;
}

.bold {
	font-weight: 700;
}
